# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.zip
# 分类数据集 data
data/
log/

# part_seg
## 数据
part_seg/PartAnnotation/
hdf5_data/

## 输出结果
part_seg/train_results/
# sem_seg
## 数据
sem_seg/indoor3d_sem_seg_hdf5_data/